.dev {
    background-color: #ce5a08;
    color: #eaeaea;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 13px;
}
.warning {
    background-color: #981919;
    border-radius: 8px;
    font-size: 15px;
    color: #eaeaea;
    width: 90%;
    margin-left: 12px;
    padding:8px;
}
.message {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #161616;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px 0px 0px 4px;
    display: none;
    z-index: 9999;
    border-right: 3px solid #ffffffff;
}
.fwarning {
    background-color: #981919;
    color: #eaeaea;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 13px;
}
.new {
    background-color: #1c5224;
    color: #eaeaea;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 13px;
}
.info {
    background-color: #161616;
    border-radius: 8px;
    font-size: 15px;
    color: #808080;
    width: 90%;
    margin-left: 12px;
    padding: 8px;
}
.p2pMessages {
    flex: 1;
    overflow-y: auto;
    background: #1e1e1e;
    border-radius: 6px;
    padding: 8px 10px;
    margin-bottom: 6px;
    min-height: 0;
    font-size: 13px;
    line-height: 1.5;
    height:230px;
    width:90%;
    margin-left:12px;
}
    /* 隐藏轨道，只显示滑块 */
    .p2pMessages::-webkit-scrollbar {
        width: 6px;
    }

    .p2pMessages::-webkit-scrollbar-track {
        background: transparent; /* 完全透明，不显示轨道 */
    }

    .p2pMessages::-webkit-scrollbar-thumb {
        background: #2b2b2b;
        border-radius: 10px;
    }

        .p2pMessages::-webkit-scrollbar-thumb:hover {
            background: #808080;
        }